DATABASE_URL=mysql://user:password@localhost:3306/database_name
SMTP_HOST=smtp.example.com
SMTP_PORT=***
SMTP_USER=***
SMTP_PASS=***
SMTP_FROM=example@example.com
BASE_URL=http://localhost:3000
AUTH_SECRET=generate_a_random_secret
CARTPANDA_BEARER_TOKEN=***
CARTPANDA_STORE_SLUG=***
BUNNY_ACCESS_KEY=***
INSTRUCTOR_NAME=***
SITE_NAME=Zênite Academy
SITE_DESCRIPTION=Uma plataforma de aprendizado online focada em tecnologia.
EMAIL_SUBJECT=Bem-vindo ao Zênite Academy!